.but {
    align-self: center;
    justify-self: center;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 1em;
    background-color: red;
}


button.active {
    background-color: blue;

}
.but {
    /* ... стили контейнера ... */
}

/* Стили для Кнопки 1: Цвет */

/* Стили для Кнопки 2: След */
.active-trail-button {
    background-color: green !important; /* Индикация, что след включен */
}

.bady{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

/* Стили для элемента следа */
.trail-element {
    position: absolute; 
    width: 10px;
    height: 10px;
    background-color: rgba(33, 50, 62, 0.8); 
    border-radius: 50%;
    pointer-events: none; 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
    z-index: 9999; 
    opacity: 1;
}


.cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: aqua;
    width: inherit;
    height: 200px;
    border-radius: 1em;
}

.solve {
    background-color: blue;
    font-size: 24px;
}